* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

div img
{
width:100%;
height:100%;
}
.header {
    background: linear-gradient(45deg, black 50%, grey 50%);
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
}

.line {
    background-color: #000;
    color: white;
    padding: 15px 15px;
    position: relative;
    font-size: 2em;
}

.linewhite {
    background-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    position: relative;
    font-size: 2em;
    text-align: center;
}

.header-title {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    gap: 20px;
}

.nav ul li {
    position: relative;
}

.nav ul li:hover {
    text-decoration: underline; 
}


.nav a {
    text-decoration: none;
    color: white;
}

.about-me {
    padding: 50px 20px;
    text-align: center;
    font-size: 1em;
}

.about-me h2 {
    margin-bottom: 20px;
}

.about-me ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

.profile-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


.grid-container {
    justify-items: center; 
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 40px;
    padding: 40px 0;
}

.grid-item {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s; 
}

.grid-item:hover {
    transform: scale(1.1); 
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
}

.section header {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.section {
    padding: 20px;
    text-align: center;

}


.project {
    width: 45%;
    height: 400px;
    margin: 30px auto;  /* Объединяем два свойства margin в одно */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s; /* Добавляем плавное изменение при увеличении */
}

.project:hover {
    transform: scale(1.1); /* Увеличиваем элемент на 10% при наведении */
}


.project img {
    max-width: 100%;
    max-height: 100%;
}



.programming-image {
    width: 45%;
    height: 400px;
    margin: 30px auto;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s; /* Добавляем плавное изменение при увеличении */
}

.programming-image:hover {
    transform: scale(1.1); /* Увеличиваем элемент на 10% при наведении */
}

.programming-image img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    color: black;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.footer {
    display: grid;
    gap: 15px;
    padding: 20px;
    align-items: center;
}
.footer-item {
    display: flex;
    align-items: center;
}

.footer-item:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}
.footer img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.coment {
    width: 45%;
    background-color: #000;
    color: white;
    padding: 15px 15px;
    position: relative;
    font-size: 1em;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1550px) {
    .project, .programming-image, .coment {
        width: 60%;
    }
}

@media only screen and (max-width: 1200px) {

    .project, .programming-image {
        height: 300px;
    }
    .line, .linewhite {
        padding: 10px 10px;
    }
    .header {
        padding: 35px 35px;
    }
    .project, .programming-image, .coment {
        width: 70%;
    }
}

@media only screen and (max-width: 765px) {
    .grid-container {
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
        padding: 40px 0;
    }
    .line, .linewhite {
        padding: 6px 6px;
    }
    .coment {
        padding: 10px 10px;
    }
    .section {
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 680px) {
    .project, .programming-image, {
        height: 300px;
    }
    .project, .programming-image {
        height: 250px;
        width: 80%;
    }
    .coment {
        width: 80%;
        margin-bottom: 20px;
    }
    .header {
        padding: 25px 25px;
    }
}


@media only screen and (max-width: 455px) {
    .grid-item {
        width: 160px;
        height: 160px;
    }
    .project, .programming-image, {
        height: 100px;
    }
    .line, .linewhite {
        font-size: 1.5em;
    }
    .header-title {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 380px) {
    .grid-container {
        padding: 25px 0;
    }
    
    .grid-item {
        width: 140px;
        height: 140px;
        border: 1px solid #000;
    }
}
